{% extends "layout.html" %}

{% block css %}

    <link rel="alternate" type="application/rss+xml" title="邮币卡公告聚合 {% if exchange %}- {{exchange }} {% endif %}{% if type_ %}- {{typecn}} {% endif %}- RSS订阅" href="{{ url_for('frontend.announcement_feed', exchange=exchange, type=type_) }}" />

    {% if config.DEBUG %}
      <link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
    {% else %}
      <link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-md-12">
        <h2>
            公告信息聚合
        </h2> 
        <p>*每5分钟更新, 上次更新时间 {{ updated_at | bjtime }}</p>
        <div class="filters">
          <div class="header">
            <span class="title">公告筛选</span> 
            <span class="total">(共{{ total }}个公告)</span>
            &nbsp;
            <a href="{{ url_for('frontend.announcement_feed', exchange=exchange, type=type_) }}">
                <img src="{{ url_for('static', filename='img/feed-icon-14x14.png') + '?offer='}}">
            </a>
          </div>

          <!-- 已选中 -->
          {% if type_ or exchange %}
          <div class="filter row">
            <span class="name col-md-1">已选条件:</span>
            <ul class="values col-md-11">
              {% if type_ %}
                <li class="selected">
                  <a href="#" data-type="type" data-value="">
                  公告类型: 
                  <strong>{{ typecn }} &times;</strong>&nbsp;
                  </a>
                </li>
              {% endif %}
              {% if exchange %}
                <li class="selected">
                  <a href="#" data-type="exchange" data-value="">
                  交易所: 
                  <strong>{{ exchange }} &times;</strong>&nbsp;
                  </a>
                </li>
              {% endif %}
              <a class="pull-right" href="{{ url_for('frontend.announcement') }}">全部撤销</a>
            </ul>
          </div>
          {% endif %}

          <!-- 筛选条件 -->
          {% for fname, ftype, fvalue, fchoices in 
                  [['公告类型', 'type', type_, types],
                   ['交易所', 'exchange', exchange, exchanges],] %}
          {% if not fvalue %}
          <div class="filter row">
            <span class="name col-md-1">{{ fname }}:</span>
            <ul class="values col-md-11">
            {% for choice in fchoices %}
              <li><a href="#" 
                     data-type="{{ ftype }}" 
                     data-value="{{ choice }}">
                {% if ftype == "type" %}
                  {{ type_to_cn(choice) }}
                {% else %}
                  {{ choice }}
                {% endif %}
              </a></li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endfor %}

        </div>
        <table class="table table-striped">
          <thead>
            <th class="col-md-2">交易所</th>
            <th class="col-md-1">类别</th>
            {% if current_user.is_authenticated() and current_user.is_admin() %}
            <th class="col-md-6">标题</th>
            <th class="col-md-2 text-right">时间</th>
            <th class="col-md-1"></th>
            {% else %}
            <th class="col-md-7">标题</th>
            <th class="col-md-2">时间</th>
            {% endif %}
          </thead>
          <tbody>
          {% for a in announcements %}
            <tr>
              <td><a href="{{ url_for('frontend.announcement', exchange=a.exchange) }}">{{ a.exchange }}</a></td>
              <td><a href="{{ url_for('frontend.announcement', type=a.type_) }}">{{ a.typecn }}</a></td>
              <td>
                <a href="{{ a.url }}" target="_blank">
                  {{ a.title }}
                </a>
              </td>
              
              {% if current_user.is_authenticated() and current_user.is_admin() %}
              <td class="text-right">{{ a.published_at | bjdate }}</td>
              <td class="text-right"><a target="_blank" href="{{ url_for('admin.parse', url=a.url) }}">解析</a></td>
              {% else %}
              <td>{{ a.published_at | bjdate }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <nav style="margin-top:-30px;">
          <ul class="pagination">
            {% if pagination.has_prev %}
            <li>
              <a href="#" aria-label="上一页" data-page="{{pagination.page-1}}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                  {% if page != pagination.page %}
                    <li><a href="#" data-page="{{page}}">{{ page }}</a></li>
                  {% else %}
                    <li class="active"><a>{{ page }}</a></li>
                  {% endif %}
                {% else %}
                    <li><span class=ellipsis>…</span></li>
                {% endif %}
            {%- endfor %}
            {% if pagination.has_next %}
            <li>
              <a href="#" aria-label="下一页" data-page="{{pagination.page+1}}">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </div>
  </div>
{% endblock %}

{% block js %}

  {% if config.DEBUG %}
    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-zh-CN.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tableExport.min.js') }}"></script>
  {% else %}
    {% assets filters="jsmin", output="assets/announcement.js",
              "js/tableExport.min.js",
              "js/bootstrap-table.min.js",
              "js/bootstrap-table-zh-CN.min.js",
              "js/bootstrap-table-export.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  {% endif %}

    <script>
        function reselect(params){
            if (!params.page){
              params.page = 1;
            }
            if (params.type === undefined && "{{ type_ }}") {
              params.type = "{{ type_ }}";
            }
            if (params.exchange === undefined && "{{ exchange }}"){
              params.exchange = "{{ exchange }}";
            }
            location.href = "{{ url_for('frontend.announcement') }}"+ '?' + $.param(params);
        }
        $('.filter .values li a').on('click', function(){
          var ftype = $(this).data('type');
          var fvalue = $(this).data('value');
          if (ftype){
            params = {}
            params[ftype] = fvalue;
            reselect(params);
          }
        });
        $('.pagination').on('click', 'a', function(){
            reselect({page: $(this).data('page')});
        });

    </script>
{% endblock %}
