{% extends "layout.html" %}

{% block css %}

    <link rel="alternate" type="application/rss+xml" title="邮币卡公告聚合 {% if exchange %}- {{exchange }} {% endif %}{% if type_ %}- {{typecn}} {% endif %}- RSS订阅" href="{{ url_for('frontend.announcement_feed', exchange=exchange, type=type_) }}" />

    {% if config.DEBUG %}
      <link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
    {% else %}
      <link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" {% if tab == 'raw' %}class="active"{% endif %}><a href="{{ url_for('frontend.announcement_raw') }}" aria-controls="info">公告原文</a></li>
        <li role="presentation" {% if tab == 'collection' %}class="active"{% endif %}><a href="{{ url_for('frontend.announcement_collection') }}" aria-controls="collection" >交易品种</a></li>
        <li role="presentation" {% if tab == 'calendar' %}class="active"{% endif %}><a href="{{ url_for('frontend.announcement_calendar') }}" aria-controls="collection" >申购日历</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      {% if tab == "raw" %}
        <h2>
            公告信息聚合
        </h2> 
        <p>*每逢整点更新, 上次更新时间 {{ updated_at | bjtime }}</p>
        <div class="filters">
          <div class="header">
            <span class="title">公告筛选</span> 
            <span class="total">(共{{ total }}个公告)</span>
            &nbsp;
            <a href="{{ url_for('frontend.announcement_feed', exchange=exchange, type=type_) }}">
                <img src="{{ url_for('static', filename='img/feed-icon-14x14.png') + '?offer='}}">
            </a>
          </div>

          <!-- 已选中 -->
          {% if type_ or exchange %}
          <div class="filter row">
            <span class="name col-md-2">已选条件:</span>
            <ul class="values col-md-10">
              {% if type_ %}
                <li class="selected">
                  <a href="#" data-type="type" data-value="">
                  公告类型: 
                  <strong>{{ typecn }} &times;</strong>&nbsp;
                  </a>
                </li>
              {% endif %}
              {% if exchange %}
                <li class="selected">
                  <a href="#" data-type="exchange" data-value="">
                  交易所: 
                  <strong>{{ exchange }} &times;</strong>&nbsp;
                  </a>
                </li>
              {% endif %}
              <a class="pull-right" href="{{ url_for('frontend.announcement_raw') }}">全部撤销</a>
            </ul>
          </div>
          {% endif %}

          <!-- 筛选条件 -->
          {% for fname, ftype, fvalue, fchoices in 
                  [['公告类型', 'type', type_, types],
                   ['交易所', 'exchange', exchange, exchanges],] %}
          {% if not fvalue %}
          <div class="filter row">
            <span class="name col-md-2">{{ fname }}:</span>
            <ul class="values col-md-10">
            {% for choice in fchoices %}
              <li><a href="#" 
                     data-type="{{ ftype }}" 
                     data-value="{{ choice }}">
                {% if ftype == "type" %}
                  {{ type_to_cn(choice) }}
                {% else %}
                  {{ choice }}
                {% endif %}
              </a></li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endfor %}

        </div>
        <table class="table table-striped">
          <thead>
            <th class="col-md-2">交易所</th>
            <th class="col-md-1">类别</th>
            {% if current_user.is_authenticated() and current_user.is_admin() %}
            <th class="col-md-6">标题</th>
            <th class="col-md-2 text-right">时间</th>
            <th class="col-md-1"></th>
            {% else %}
            <th class="col-md-7">标题</th>
            <th class="col-md-2">时间</th>
            {% endif %}
          </thead>
          <tbody>
          {% for a in announcements %}
            <tr>
              <td><a href="{{ url_for('frontend.announcement_raw', exchange=a.exchange) }}">{{ a.exchange }}</a></td>
              <td><a href="{{ url_for('frontend.announcement_raw', type=a.type_) }}">{{ a.typecn }}</a></td>
              <td>
                <a href="{{ a.url }}" target="_blank">
                  {{ a.title }}
                </a>
              </td>
              
              {% if current_user.is_authenticated() and current_user.is_admin() %}
              <td class="text-right">{{ a.published_at | bjdate }}</td>
              <td class="text-right"><a target="_blank" href="{{ url_for('admin.parse', url=a.url) }}">解析</a></td>
              {% else %}
              <td>{{ a.published_at | bjdate }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <nav style="margin-top:-30px;">
          <ul class="pagination">
            {% if pagination.has_prev %}
            <li>
              <a href="#" aria-label="上一页" data-page="{{pagination.page-1}}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                  {% if page != pagination.page %}
                    <li><a href="#" data-page="{{page}}">{{ page }}</a></li>
                  {% else %}
                    <li class="active"><a>{{ page }}</a></li>
                  {% endif %}
                {% else %}
                    <li><span class=ellipsis>…</span></li>
                {% endif %}
            {%- endfor %}
            {% if pagination.has_next %}
            <li>
              <a href="#" aria-label="下一页" data-page="{{pagination.page+1}}">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      {% elif tab == "collection" %}


        <h2>交易品种</h2>
        <table id="collection-list" class="table"
                data-toggle="table"
                data-classes="table table-condensed"
                data-locale="zh-CN"
                data-sort-name="offers_at"
                data-sort-order="desc"
                data-show-export="true"
                data-url="{{ url_for('frontend.collection_list') }}"
                data-pagination="true"
                data-side-pagination="server"
                data-page-size="100"
                data-show-refresh="true"
                data-search="true">
          <thead>
            <th data-field="offers_at" data-sortable="true">申购日</th>
            <th data-field="exchange" data-sortable="true" data-formatter="exchangeFormatter">交易所</th>
            <th data-field="name" data-sortable="true">藏品名</th>
            <th data-field="symbol" data-sortable="true">代码</th>
            <th data-field="offer_price" data-sortable="true" class="text-right">申价</th>
            <th data-field="offer_quantity" data-sortable="true" class="text-right">申量</th>
            <th data-field="offer_cash_ratio" data-sortable="true" class="text-right">资金</th>
            <th data-field="offer_cash" data-sortable="true" class="text-right">市值</th>
            <th data-field="result_ratio_cash" data-sortable="true" class="text-right">中签率</th>
            <th data-field="total_increase" data-sortable="true" class="text-right" data-formatter="increaseFormatter">现涨幅</th>
          </thead>
          <tbody>
          </tbody>
        </table>

      {% elif tab == "calendar" %}


        <h2>申购日历</h2>

        <table id="calendar" class="table table-bordered">
          <thead>
            <tr style="font-size: 0.9em;">
              <th style="text-align: center; background: -webkit-gradient(linear, left bottom, right top, color-stop(50%,#fef), color-stop(50%,white));">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期<br>交易所&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              {% for weekday, date in heads %}
              <th style="text-align: center; width: 8%;{% if date == thisdate %}background-color: #feb;{% endif %}"> {{date}} <br> {{weekday}} </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for ex in exs %}
            <tr>
              <td style="text-align: center; background-color: #fef;" {% if ex == "无申购" %}colspan="12"{% endif %}>{{ ex }}</td>
              {% for c in rowdict[ex] %}
              <td colspan="{{c.colspan}}" style="text-align: center; {% if c.symbols %}background-color: #bef;{% endif %}"
                data-exchange="{{ c.exchange }}"
                data-symbols="{{ c.symbols }}"
                data-placement="{% if loop.index < 5 %}right{% else %}left{% endif %}"
                {% if c.symbols %}class="offer"{% endif %}>
                {% if c.symbols %}
                  <div>申购&times;{{c.count}}</div>
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div>
          <a href="{{ url_for('frontend.announcement_calendar', starts_at=prev_starts_at) }}">&laquo;前10天</a> &nbsp;
          <a href="{{ url_for('frontend.announcement_calendar', starts_at=next_starts_at) }}">后10天&raquo;</a>
        </div>

      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js %}

  {% if config.DEBUG %}
    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-zh-CN.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tableExport.min.js') }}"></script>
  {% else %}
    {% assets filters="jsmin", output="assets/announcement.js",
              "js/tableExport.min.js",
              "js/bootstrap-table.min.js",
              "js/bootstrap-table-zh-CN.min.js",
              "js/bootstrap-table-export.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  {% endif %}

    <script>
      {% if tab == "raw" %}
        function reselect(params){
            if (!params.page){
              params.page = 1;
            }
            if (params.type === undefined && "{{ type_ }}") {
              params.type = "{{ type_ }}";
            }
            if (params.exchange === undefined && "{{ exchange }}"){
              params.exchange = "{{ exchange }}";
            }
            {% if tab == 'raw' %}
            location.href = "{{ url_for('frontend.announcement_raw') }}"+ '?' + $.param(params);
            {% elif tab == 'collection' %}
            location.href = "{{ url_for('frontend.announcement_collection') }}"+ '?' + $.param(params);
            {% endif %}
        }
        $('.filter .values li a').on('click', function(){
          var ftype = $(this).data('type');
          var fvalue = $(this).data('value');
          if (ftype){
            params = {}
            params[ftype] = fvalue;
            reselect(params);
          }
        });
        $('.pagination').on('click', 'a', function(){
            reselect({page: $(this).data('page')});
        });
      {% endif %}

      {% if tab == 'collection' %}
        function exchangeFormatter(value, row, index) {
          return '<a href="#" name="exchange" ' +
            'data-exchange="' + value + '">' + value + '</a>'
        }
        function increaseFormatter(value, row, index) {
          var url = "{{ url_for('frontend.trade') }}" + '?'
              + $.param({exchange: row.exchange, symbol: row.symbol});
          if (value) {
            return '<a href="' + url + '" target="_blank">' + value + '</a>'
          } else {
            return '-';
          }
        }
        $('table').on('click', 'a[name=exchange]', function(e) {
          e.preventDefault();
          $('.search input').val($(this).data('exchange'));
          $('.search input').trigger('keyup');
        });
      {% endif %}



      {% if tab == "calendar" %}
        // ex -> bankstr
        var banks = {{ banks | safe }};
        // ex -> sym -> {offer_cash, expected_ratio, expected_revenue}
        var details = {{ details | safe }}; 
        $('td.offer div').each(function(i, e) {
          var $div = $(e);
          var $td = $div.parent();
          // console.log($td.parent().html());
          var exchange = $td.data('exchange');
          var symbols = $td.data('symbols') + '';
          var placement = $td.data('placement');
          if (symbols.indexOf(',') == -1) {
            symbols = [symbols];
          } else {
            symbols = symbols.split(',');
          }
          var bank = '<div>所属银行: ' + banks[exchange] + '</div>';
          var cash_total = 0;
          var detail = '<table class="table table-condensed text-right">' + 
            '<thead><tr>' + 
            '<th class="text-right">简称</th>' + 
            '<th class="text-right">代码</th>' + 
            '<th class="text-right">单价</th>' +
            '<th class="text-right">申购市值</th>' + 
            '<th class="text-right">(预期)中签率</th>' + 
            '<th class="text-right">(预期)年化收益</th>' + 
            '</tr></thead>' + 
            '<tbody>';
          var d;
          for (var i = 0; i < symbols.length; i++) {
            d = details[exchange][symbols[i]];
            detail += '<tr><td>' + d.name + '</td>' + 
              '<td>' + symbols[i] + '</td>' + 
              '<td>' + ((Math.round(d.price * 100) / 100) || '-') + '</td>' + 
              '<td>' + ((Math.round(d.offer_cash / 100) / 100) || '-') + '万</td>' + 
              '<td>' + ((Math.round(d.expected_ratio * 10000) / 100) || '-') + '%</td>' + 
              '<td>' + ((Math.round(d.expected_revenue / 100) / 100) || '-') + '万</td></tr>';
            cash_total += d.offer_cash;
          }
          detail += '</tbody></table>';
          var cash = '<div>资金总市值: ' + ((Math.round(cash_total / 100) / 100) || '-') + '万</div>'
          $div.tooltip({
            placement: placement,
            template: '<div class="popover" role="tooltip" style="min-width: 500px; font-size: 0.8em;">' + 
                '<div class="arrow"></div>' + 
                '<h3 class="popover-title">申购详情</h3>' + 
                '<div class="popover-content">' + 
                  bank + 
                  cash + 
                  detail + 
                '</div>' + 
              '</div>', 
            html: true, 
            title: 'x'
          });
        });
      {% endif %}
    </script>
{% endblock %}
