{% extends "layout.html" %}


{% block main %}
  <div class="row">
    <div class="col-md-12">
        <h2>申购日历</h2>

        <table id="calendar" class="table table-bordered">
          <thead>
            <tr style="font-size: 0.9em;">
              <th style="text-align: center; background: -webkit-gradient(linear, left bottom, right top, color-stop(50%,#fef), color-stop(50%,white));">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期<br>交易所&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              {% for weekday, date in heads %}
              <th style="text-align: center; width: 8%;{% if date == thisdate %}background-color: #feb;{% endif %}"> {{date}} <br> {{weekday}} </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for ex in exs %}
            <tr>
              <td style="text-align: center; background-color: #fef;" {% if ex == "无申购" %}colspan="12"{% endif %}><a href="{{ url_for('frontend.collection', search=ex) }}">{{ ex }}</a></td>
              {% for c in rowdict[ex] %}
              <td colspan="{{c.colspan}}" style="text-align: center; {% if c.symbols %}background-color: #bef;{% endif %}"
                data-exchange="{{ c.exchange }}"
                data-symbols="{{ c.symbols }}"
                data-placement="{% if loop.index < 5 %}right{% else %}left{% endif %}"
                {% if c.symbols %}class="offer"{% endif %}>
                {% if c.symbols %}
                  <div><a href="javascript:void(0);">申购&times;{{c.count}}</a></div>
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div>
          <a href="{{ url_for('frontend.calendar', starts_at=prev_starts_at) }}">&laquo;前10天</a> &nbsp;
          <a href="{{ url_for('frontend.calendar', starts_at=next_starts_at) }}">后10天&raquo;</a>
        </div>

    </div>
  </div>
{% endblock %}

{% block js %}


    <script>
        // 跳转到中签分析页
        $('td.offer div').on('click', function(e) {
          var exchange = $(this).parent().data('exchange');
          location.href = "{{ url_for('frontend.analysis') }}" + '?exchange=' + exchange;
        })

        // ex -> bankstr
        var banks = {{ banks | safe }};
        // ex -> sym -> {offer_cash, expected_ratio, expected_revenue}
        var details = {{ details | safe }};
        $('td.offer div').each(function(i, e) {
          var $div = $(e);
          var $td = $div.parent();
          // console.log($td.parent().html());
          var exchange = $td.data('exchange');
          var symbols = $td.data('symbols') + '';
          var placement = $td.data('placement');
          if (symbols.indexOf(',') == -1) {
            symbols = [symbols];
          } else {
            symbols = symbols.split(',');
          }
          var bank = '<div>所属银行: ' + banks[exchange] + '</div>';
          var cash_total = 0;
          var detail = '<table class="table table-condensed text-right">' + 
            '<thead><tr>' + 
            '<th class="text-right">简称</th>' + 
            '<th class="text-right">代码</th>' + 
            '<th class="text-right">单价</th>' +
            '<th class="text-right">申购市值</th>' + 
            '<th class="text-right">(预期)中签率</th>' + 
            '<th class="text-right">(预期)收益率</th>' + 
            '</tr></thead>' + 
            '<tbody>';
          var d;
          for (var i = 0; i < symbols.length; i++) {
            d = details[exchange][symbols[i]];
            detail += '<tr><td>' + d.name + '</td>' + 
              '<td>' + symbols[i] + '</td>' + 
              '<td>' + ((Math.round(d.price * 100) / 100) || '-') + '</td>' + 
              '<td>' + ((Math.round(d.offer_cash / 100) / 100) || '-') + '万</td>' + 
              '<td>' + ((Math.round(d.expected_ratio * 10000) / 100) || '-') + '%</td>' + 
              '<td>' + ((Math.round(d.expected_revenue * 10000) / 100) || '-') + '%</td></tr>';
            cash_total += d.offer_cash;
          }
          detail += '</tbody></table>';
          var cash = '<div>资金总市值: ' + ((Math.round(cash_total / 100) / 100) || '-') + '万</div>'
          $div.tooltip({
            placement: placement,
            template: '<div class="popover" role="tooltip" style="min-width: 500px; font-size: 0.8em;">' + 
                '<div class="arrow"></div>' + 
                '<h3 class="popover-title">申购详情</h3>' + 
                '<div class="popover-content">' + 
                  bank + 
                  cash + 
                  detail + 
                '</div>' + 
              '</div>', 
            html: true, 
            title: 'x'
          });
        });
    </script>
{% endblock %}
