      <!-- Static navbar -->
      {% set navbars = [
        {'nav': 'index', 'name': '首页', 'url': url_for('admin.index')},
        {'nav': 'parse', 'name': '公告解析', 'url': url_for('admin.parse')},
        {'nav': 'about', 'name': '关于', 'url': url_for('admin.about')},
        ]
      %}
      {{ navs }}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">显示/隐藏导航</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/">后台管理</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            {% for nb in navbars %}
              <li {% if nav == nb.nav %}class="active"{% endif %}>
                <a href="{{ nb.url }}">{{ nb.name }}</a>
              </li>
            {% endfor %}
            </ul>
             {% include "user.html" %}
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>